/* contact.css - Minimal utilities only */
/* All Contact component styling now uses Tailwind classes */

.sbmtbtnparent button:hover {
    background-color: #4a865d;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .formcontainer {
        padding: 30px 20px;
        grid-template-columns: 1fr;
    }
    .formcontainer textarea,
    .sbmtbtnparent {
        grid-column: 1 / 2;
    }
    .loginhead {
        font-size: 30px;
    }
}